<h1>Express auth tutorial home!!!!</h1>
<h2>{{time}}</h2>

<ul>
  {{#each messages}}
  <li>{{this.message}}</li>
  {{/each}}
</ul>

<form action="/" method="POST">
  <input type="text" name="message" id="message">
  <button type="submit">Send message!</button>
</form>